.container {
  height: 290vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $lightGrayishBlue;

  padding-top: 71px;
  padding-left: 24px;
  padding-right: 24px;

  @include breapoint-up(medium) {
    height: 155vh;
  }

  @include breapoint-up(large) {
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: 282px 266px;
    column-gap: 30px;
    row-gap: 24px;

    align-items: unset;

    height: 100vh;
    width: 100%;

    // padding-top: 164px;
    padding-left: 190px;
    padding-right: 165px;
  }

  .testemonial {
    height: 444px;
    width: 327px;
    background: $moderateViolet;
    border-radius: 8px;

    padding-top: 24px;
    padding-left: 33px;
    padding-right: 33px;

    margin-bottom: 24px;

    box-shadow: 35px 10px 24px $lightGray;

    @include breapoint-up(medium) {
      width: 600px;
    }

    &__profile {
      position: relative;
      &__header {
        display: flex;
        align-items: center;

        margin-bottom: 22px;

        .testemonialImage {
          height: 32px;
          width: 32px;
          border: 2px solid $white;
          border-radius: 50%;
          margin-right: 1rem;
        }

        .profileText {
          font-size: 12px;
          color: $white;

          &__name {
            margin-bottom: 4px;
          }

          &__verified {
            opacity: 50%;
          }
        }
      }

      &__boldText {
        position: relative;
        font-size: 16px;
        color: $white;
        margin-bottom: 25px;
        z-index: 4;

        h3 {
          line-height: 1.4;
        }
      }

      &__transparentText {
        color: $white;
        opacity: 70%;
        font-size: 12px;

        p {
          line-height: 1.5;
        }
      }

      &__quotation {
        position: absolute;
        top: -24px;
        right: 0px;

        svg {
          z-index: -1;
        }
      }
    }
  }

  .daniel {
    grid-area: "one";
    grid-column: 1/3;
    height: 448px;

    @include breapoint-up(medium) {
      height: 325px;
      width: 600px;

      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }

    @include breapoint-up(large) {
      height: 282px;
      width: 540px;
      justify-self: end;

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .jonathan {
    height: 264px;
    width: 327px;
    background: $veryDarkBlackishBlue;
    margin-bottom: 24px;
    grid-area: 3/4;
    grid-column: 3/4;
    grid-row: 1/2;

    @include breapoint-up(medium) {
      height: 208px;
      width: 600px;

      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }

    @include breapoint-up(large) {
      height: 282px;
      width: 255px;

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .jeanette {
    height: 255px;
    width: 327px;
    background: $white;
    margin-bottom: 24px;
    grid-area: "four";
    grid-column: 1/2;
    grid-row: 2/3;

    @include breapoint-up(medium) {
      height: 194px;
      width: 600px;

      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }

    @include breapoint-up(large) {
      height: 266px;
      width: 255px;
      justify-self: end;
    }

    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }

    h3,
    p {
      color: $veryDarkBlackishBlue;
    }
  }

  .patrick {
    height: 416px;
    width: 327px;
    background: $veryDarkBlackishBlue;
    grid-area: "five";
    grid-column: 2/4;
    grid-row: 2/3;

    @include breapoint-up(medium) {
      height: 275px;
      width: 600px;

      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }

    @include breapoint-up(large) {
      height: 266px;
      width: 540px;

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }

    .testemonialImage {
      border: 2px solid $moderateViolet;
    }
  }

  .kira {
    height: 476px;
    width: 327px;
    background: $white;
    grid-area: "three";
    grid-column: 4/5;

    @include breapoint-up(medium) {
      height: 336px;
      width: 600px;

      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }

    @include breapoint-up(large) {
      height: 572px;
      width: 255px;

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }

    h3,
    p {
      color: $veryDarkBlackishBlue;
    }
  }
}
